body {
    background-color: black;
    color: ivory;
    text-align: center;
}

canvas {
    background-color: black;
    border: 10px solid black;
}

canvas:focus {
    border: 10px solid rgb(137, 218, 233);
}

p {
    color: rgba(197, 195, 195, 0.726);
}